@import "tailwindcss";

@theme {
  --color-primary: #01D167;
  --color-secondary: #325BAF;
  --color-dark: #0C365A;
  --color-light: #FFFFFF;
  --bg-color: #F3F6F9;
}

body {
  background-color: var(--bg-color);
  color: #222222;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
